{% extends 'base.html.twig' %}

{% block title %}New Alert{% endblock %}

{% block body %}
    <h1>Create new Alert</h1>


    {{ form_start(form) }}
    {# ... #}

    {# store the prototype on the data-prototype attribute #}

    {# ... #}

    <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}

{% endblock %}
