<div class="wrapper">

    <header></header>

    <section>
        <h2> {{ 'confirm-unsub' | trans }}</h2>

        <p><a href="{{ path('unsub_email', {'email':email}) }}">Unsub</a></p>

    </section>

    <footer></footer>

</div>